<style>
		h2{
			 border-style: solid;
			 border-color: green; 
		}
		h3{
			border-style: dotted;
			border-color: blue;
		}
		h4{
			color: black;
			background-color: green;
			font-size: 30px;   
		}
		p{
			color: blue;
		}
		.head1{
			background-color:aqua  ; 

		}
		.blue{
			border: 5px solid blue;
		}
		#heading1{
			background-color:yellow ; 
		}
		.head2{
			background-color:rgb(0, 191, 255);  
		}

</style>